extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="locationListCtrl")
      label(for="filter") Paieška
      input#filter(type="text", name="filter", ng-model="textFilter")
      .error{{message}}
      .row.list-group(ng-repeat="location in data.locations | filter : textFilter")
            .col-xs-12.list-group-item
              h4
                a(href="/location/{{location._id}}") {{location.name}}
                br
                small(rating-stars, rating="location.rating")&nbsp;
                span.badge.pull-right.badge-default {{location.distance | formatDistance}}
              p.address {{location.address}}
              p
                  span.label.label-warning.label-facility(ng-repeat="facility in location.facilities") {{facility}} 
    .col-xs-12.col-sm-4
      p.lead= sidebar
