extends layout

block content
    #banner.page-header
      .row
        .col-xs-12
          h1 Please fill out the form!
    .row
      .col-xs-12.col-md-6
        form.form-horizontal(action="/location", method="get", role="form")
          .form-group
            label.control-label.col-xs-12.col-sm-2(for="name") Name
            .col-xs-12.col-sm-10
                input#name.form-control(name="name")

      
